@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* ロゴと似たフォントのインポート */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  font-family: 'Montserrat', sans-serif; /* フォントを統一 */
  background-color: #f5f5f5; /* 背景色を明るいグレーに */
  color: #333; /* テキストカラーを濃いグレーに */
/*   color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
